.blockUsers {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.blockUsers__controlsRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}