.downloadTableButton {
  width: 208px;
  height: 40px;
  border: 1.5px solid var(--violet-border);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.downloadTableButton:hover {
  background-color: rgba(247, 246, 255, 1);
}

.downloadTableButton:active {
  background-color: rgba(226, 223, 255, 1);
}

.downloadTableButton_inactive {
  background-color: var(--gray-border);
  border: 1px solid var(--gray-border-05);
  color: var(--gray-border-05);
  cursor: default;
}

.downloadTableButton_inactive:hover {
  background-color: var(--gray-border);
}

.downloadTableButton_inactive:active {
  background-color: var(--gray-border);
}

.downloadTableButton__image {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('../../../assets/icons/receive-square_active.svg');
}

.downloadTableButton__image_inactive {
  background-image: url('../../../assets/icons/receive-square_inactive.svg');
}
