.noAvatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--grey02);
    color: var(--color-indigo);
    font-size: 13px;
    line-height: 30px;
    text-align: center;

}