.profile {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.profile__name {
    font-size: 15px;
}

.profile__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--grey02);
}

.profile__buttonOpen {
    display: block;
    width: 12px;
    height: 12px;
    background: url('../../../assets/arrows-control/arrow-left-inactive.svg') no-repeat center/contain;
    transform: rotate(90deg);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.profile__buttonOpen.open {
    transform: rotate(270deg);
}