.wrapperPayments{
    display: flex;
    height: 100%;
    width: 100%;
}

.payments__panel{
    display: flex;
    flex-grow: 1;
    height: 100%;

}

.formPayments{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formPayments>button{
    margin-top: 10px;
}
