:root {
    --gray-border: rgba(108, 108, 108, 0.2);
    --gray-border-05: rgba(108, 108, 108, 0.5);
    --gray-background: rgba(108, 108, 108, 0.05);

    --red-error: rgba(255, 72, 72, 1);

    --violet-border: rgba(226, 223, 255, 1)
}