:root {
  --color-white: #ffffff;
  --color-grey: #f4f4f4;
  --color-dark: #212121;
  --color-indogo: #5945fe;
  --color-green: #d1f702;
  --color-blue: #00a0e3;
  --color-pink: #e3b5ff;
  --color-light-indigo: #f7f6ff;
  --color-light-green: #fcfeed;
  --color-light-blue: #f2fafe;
  --color-light-pink: #fcf8ff;

  --grey: rgba(108, 108, 108, 0.5);
}

/* modern-css-reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-dark);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
