.sortArrows {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 11px;
    height: 16px;
}

.sortArrows__arrow {
    display: block;
    width: 100%;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.sortArrows__arrowUp {
    background-image: url('../../../../../assets/arrow-sort-top.svg');
}

.sortArrows__arrowUp.sortArrows__arrowActive {
    background-image: url('../../../../../assets/arrow-sort-top-active.svg');
}

.sortArrows__arrowDown {
    background-image: url('../../../../../assets/arrow-sort-bottom.svg');
}

.sortArrows__arrowDown.sortArrows__arrowActive {
    background-image: url('../../../../../assets/arrow-sort-bottom-active.svg');
}
