.sortArrows {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 11px;
    height: 16px;
}

.sortArrows__arrow {
    display: block;
    width: 100%;
    height: 8px;
    transition: background-image 0.3s ease-in-out;
    cursor: pointer;
}

.sortArrows__arrowUp {
    background: url('../../../../../assets/arrow-sort-top.svg') no-repeat center/contain;
}

.sortArrows__arrowUp.sortArrows__arrowActive {
    background: url('../../../../../assets/arrow-sort-top-acive.svg') no-repeat center/contain;
}

.sortArrows__arrowDown {
    background: url('../../../../../assets/arrow-sort-bottom.svg') no-repeat center/contain;
}

.sortArrows__arrowDown.sortArrows__arrowActive {
    background: url('../../../../../assets/arrow-sort-bottom-active.svg') no-repeat center/contain;
}
